{% extends 'layouts/base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1 class="text-center my-5">Modification du mot de passe</h1>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <div class="text-center">
        <button class="btn btn-primary" formnovalidate>Réinitialisez le mot de passe</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}