{% extends 'base.html.twig' %}

{% block title %}Nouveau Pin{% endblock %}

{% block body %}
  <h1>Création de pins</h1>
  {{ include('pins/_form.html.twig') }}


  <a href="{{ path('app_home') }}">Retour à l'index</a>
{% endblock %}
