{% extends 'base.html.twig' %}

{% block title %}Nouveau Pin{% endblock %}

{% block body %}
  <h1>Création de pins</h1>
  {{ form_start(formCreate) }}
    {{ form_widget(formCreate) }}
    <input type="submit" value="Créer pin" formnovalidate>
  {{ form_end(formCreate) }}

  <a href="{{ path('app_home') }}">Retour à l'index</a>
{% endblock %}
