<footer class="container text-center mt-5">
  <p class="text-muted">
    <small class="text-light">
      &copy; {{ 'now'|date('Y') }} &middot;
      Conçu avec <span class="text-danger">&hearts;</span> par Kévin Zochowski
    </small>
  </p>
</footer>