{{ form_start(form) }}
  {{ form_widget(form) }}
  {# <div class="m-auto"> #}
    <input type="submit" class="btn btn-primary mx-auto" value="{{ submitButtonText ?? 'Créer pin' }}" formnovalidate>
  {# </div> #}
{{ form_end(form) }}