{% extends 'layouts/base.html.twig' %}
{% block body %}
    <h1>Admin pin index</h1>
    {% if is_granted('ROLE_ADMIN') %}
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ab dolorum culpa neque optio sapiente fuga nostrum, debitis ratione fugit, 
        earum inventore ducimus, aliquid quo necessitatibus totam aperiam asperiores 
        iste assumenda. Voluptatibus error perferendis officiis labore. Amet necessitatibus aut, 
        molestias vel iusto, rerum saepe magni quam earum officia quasi cumque voluptate minima 
        eaque nostrum placeat reiciendis. Repellat molestias dignissimos tempora esse placeat, 
        ullam quos minima dolorem at voluptate perferendis rem laudantium facere officia soluta 
        vel explicabo nihil? Quibusdam obcaecati laudantium odit at facere soluta veritatis 
        inventore quae pariatur in, possimus necessitatibus magni rerum autem accusamus nesciunt 
        nihil tempore mollitia illum ducimus sit ratione tenetur est a! Reprehenderit commodi 
        necessitatibus dolore ex sapiente iusto rem deserunt debitis, sint fugit voluptatum qui 
        temporibus dignissimos ducimus nobis numquam eos, autem nemo quibusdam rerum voluptatibus, 
        delectus explicabo ratione? Repellat doloremque nemo ea recusandae qui a incidunt quasi 
        accusantium sapiente dignissimos magni tempore, sunt similique unde, quaerat ducimus 
        temporibus officiis officia veniam quo, minus saepe nobis ipsam. Aspernatur, magnam 
        veniam minus maiores optio ea? Id quod earum eius illum, porro quaerat asperiores 
        corrupti quidem accusantium, quos voluptatem consequuntur obcaecati quisquam voluptates 
        quis optio ipsum nesciunt? At ut hic quia aut, illum veritatis, unde odit et maxime 
        quae distinctio enim iste ducimus sed aliquam, architecto molestias commodi eaque 
        recusandae qui iure. Animi odit recusandae aliquid quae laboriosam iusto exercitationem 
        minima id praesentium vel officia consequuntur illum quas, est earum adipisci sit ipsam, 
        cumque rerum porro nisi? Debitis provident nostrum quidem modi voluptatibus perferendis 
        odit vero harum natus?
      </p>
    {% endif %}
{% endblock %}