{% extends 'layouts/base.html.twig' %}

{% block body %}
  <h1>403 - Forbidden</h1>
  <p>
    You are not allowed to reach this page. Check for any URL misspelling or 
    <a href="{{ path('app_home')}}">return to the homepage.</a>
  </p>

{% endblock %}